@media (max-width: 1290px) {
    /*header*/

    .container {
        padding-left: 8px;
        padding-right: 8px;
        max-width: auto;
    }

    .nav {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around; 
        padding-top: 10px;
    }
    
    .navigation-link {
        margin-right: 10px;
    }
    
    .nav-link {
       margin-right: 40px;
    }

    .login {
        display: flex;
        margin-left: 0px;
        margin-top: 10px;
    }
    
    .log.button {
        margin-left: 0px;
        padding-right: 38px;
        padding-left: 38px;
    } 

    /*main*/  

    .small-box {
        flex-direction: column;
        align-items: center;
        padding-bottom: 50px;
    }

    .tittle {
        margin-top: 20px;
    }

    .subtitle {
        margin-bottom: 21px;
        margin-left: 30px;
    }

    .align-items, .subtitle-tiny, .subtitle, .tittle, .tittle-left, .tittle-right, .subtitle-left, .subtitle-right, .revolut-text, .tagline_left {
        text-align: center;
    }

    .log.button-orange.two {
        padding-right: 48px;
        padding-left: 48px;
    }

    .pic1 {
        margin-top: 51px;
        max-width: 560px;
    }

    /*brand*/

    .brand {
        padding-top: 58px;
        padding-bottom: 54px;
    }

    .brands {
        flex-wrap: wrap;
    }
    

    .brands-list {
        margin-right: 50px;
        padding-top: 10px;
    }

    /*notes*/

    .text-left, .text-right {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .notes-indent {
        padding-top: 0px;
    }

    .link {
        display: flex;
    }

    .text-left:first-child {
        padding-top: 30px;

    }
    
    .text-left, .text-right{
        padding: 15px;
    }

    .tittle-right {
        padding-top: 0px;
    }

   .notes-indent-two {
        padding-top: 0px;
   }

   /*icon*/

   .icon {
        margin-top: 20px;
        padding-bottom: 40px;
   }

   .tittle-center {
        padding-top: 60px;
        text-align: center;
   }

   .info {
    margin-right: 20px;
    }

    /*boost*/

   

    
    /*revolut*/

    .revolut-sub {
        justify-content: center;
        flex-direction: column-reverse;
        padding-bottom: 75px;
    }

    .revolut-text {
        margin-right: 0px;
    }

    .edward-img {
        width: auto;    
        flex-direction: row;
        order: 1;
        margin-right: auto;   
        margin-left: auto;
        padding-right: 10px;
    }

    /*tagline*/ 

    .tagline {
        padding-top: 60px;
        padding-bottom: 64px;
    }

    .tagline-software {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .tagline_left {
        padding-bottom: 15px;
    }
    
    .tagline-tittle {
        margin-right: 25px;
        margin-left: 25px;
    }

    .stars_img {
        padding-top: 50px;
        padding: 0;
        margin-right: 20px;
    }

    .stars_img:first-child {
        border-left: 0px;
    }

    /*work-tools*/

    .work-tools {
        padding-top: 85px;
        padding-bottom: 82px;
    }

    .heading {
        font-size: 55px;
        max-width: 770px;
    }

    .bird {
        max-width: 770px;
    }

     /*try*/
    
     .try {
        padding-top: 79px;
        padding-bottom: 70px;
    }

    /*foother*/

    .footer-nav {
        flex-wrap: wrap;
        justify-content: center;
    }

    .menu {
        flex-direction: column;
        padding-top: 52px;
        padding-bottom: 55px;
    }

    .studies {
        align-items: center;
        text-align: center;
        margin-right: 0px;
    }

    .footer-caption {
        margin-right: 10px;
    }

    .wrap {
        max-width: 170px;
    }
    
 

} 

@media (max-width: 768px) {
    /*header*/

    body {  
        min-width: 320px;
    }

    .container {
        padding: 0px 10px;
        max-width: auto;
    }

    .nav {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around; 
    }

    .navigation-link {
        margin-right: 0px;
    }

    .nav-link {
        margin-right: 7px;
        font-size: 11px;
    }

     .login {
        margin-top: 10px;
        margin-left: 0px;
    }

    /*main*/

    .small-box {
        flex-direction: column;
        align-items: center;
    }

    .tittle {
        margin-top: 10px;
        font-size: 40px;
        max-width: 320px;
    }

    .subtitle {
        margin-bottom: 21px;
        margin-left: 20px;
        font-size: 20px;
        max-width: 320px;
    }

    .align-items, .subtitle-tiny, .subtitle, .tittle {
        text-align: center;
    }

    .log.button-orange.two {
        padding-right: 48px;
        padding-left: 49px;
    }

    .log.button.two {
        margin-left: 0;
    }

    .pic1 {
        margin-top: 41px;
        max-width: 320px;
    }

    /*brand*/

    .brand {
        padding-top: 38px;
        padding-bottom: 24px;
    }

    .brands {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .brands-list {
        margin-right: 0px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .tittle-two {
        margin-bottom: 50px;
        font-size: 38px;
        margin-bottom: 20px;
    }

     /*notes*/

     .text-left, .text-right {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .notes-indent {
        padding-top: 0px;
    }

    .link {
        display: flex;
    }

    .text-left:first-child {
        padding-top: 15px;
    }
    
    .text-left {
        padding: 15px;
    }

    .tittle-right {
        padding-top: 0px;
    }

   .notes-indent-two {
        padding-top: 0px;
    }

   .tittle-left, .tittle-right {
        font-size: 38px;
        max-width: 450px;
    }

   .subtitle-right, .subtitle-left {
        font-size: 18px;
        max-width: 450px;
    }

   .statistics_img {
     max-width: 320px;
    }
    
    /*icon*/

    .icon {
        margin-bottom: 30px;
    }

    .info {
        margin-right: 10px;
    }

    .tittle-center {
        font-size: 40px;
    }

    /*boost*/

    

    
    
    /*revolut*/

    .revolut-sub {
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column-reverse;
        padding-bottom: 65px;
    }

    .edward-img {
        width: auto;
        flex-direction: row;
        order: 1;
        margin-right: auto;   
        margin-left: auto;
    }

    .revolut-text {
        margin-right: 0px;
    }

    .excerpt {
        font-size: 22px;
    }

    /*tagline*/

    .tagline {
        padding-top: 50px;
        padding-bottom: 54px;
    }

    .tagline-software {
        display: flex;
        flex-wrap: wrap-reverse;
        flex-direction: column;
        justify-content: center;
    }

    .tagline_left {
        padding-bottom: 15px;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    .tagline-tittle { 
        padding-right: 0px;
        padding-left: 0px;
        font-size: 28px;
        max-width: 520px;
    }

    .stars_img {
        padding-top: 50px;
        padding: 0;
        margin-right: 20px;
        max-width: 100px;
    }

    .stars_img:first-child {
        border-left: 0px;
    }

    .cake_img {
        max-width: 140px;
    }

    /*work-tools*/

    .bird {
        max-width: 320px;
    }

    .heading {
        font-size: 40px; 
    }

    .work-tools {
        padding-top: 45px;
        padding-bottom: 42px;
    }

    /*try*/

    .try {
        padding-top: 39px;
        padding-bottom: 40px;
    }


    /*foother*/

    .footer-nav {
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer-link {
        font-size: 12px;
    }

    .footer-caption {
        margin-right: 0px;
    }

    .wrap {
        max-width: 150px;
    }

    .copyright {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .copy-text {
        width: 130px;
    }

    .copy-left {
        padding-top: 30px;
    }
    
}

