@font-face {
    font-family: 'Graphik LCG';
    src: url('fonts/GraphikLCG-Semibold.eot?#iefix') format('embedded-opentype'),
        url('fonts/GraphikLCG-Semibold.woff2') format('woff2'),
        url('fonts/GraphikLCG-Semibold.woff') format('woff'),
        url('fonts/GraphikLCG-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik LCG';
    src: url('fonts/GraphikLCG-Regular.eot');
    src: url('fonts/GraphikLCG-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/GraphikLCG-Regular.woff2') format('woff2'),
        url('fonts/GraphikLCG-Regular.woff') format('woff'),
        url('fonts/GraphikLCG-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
}

* {
    color: #000000;
}

body {
    font-family: 'Graphik LCG', sans-serif;
}

.nav-link:hover, .text-link:hover, .link:hover, .link-Learn:hover, .footer-link:hover, .bth-black:hover, .log.button:hover {
    color: #FF9C7D;
}

.log.button-orange:hover {
    color: #000000;
}

.navigation-link:hover {
    border-radius: 40px;
    background-color: #EFEFEF;
}

.container {
    max-width: 1290px;
    margin-left: auto;
    margin-right: auto;
}

header {
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #CCCCCC;
}

main, .navigation, .notes, .boost, .work-tools {
    background: #FFFFFF;
}


.nav, .tagline-software, .tagline_left, .images_right, .items, .brands {
    display: flex;
    align-items: center;
}

.nav-link {
    display: inline-block;
    font-size: 15px;
    line-height: 20px;
}

.login {
    justify-content: flex-end;
    margin-left: 196px;
}

.subtitle-tiny, .footer-link {
    font-size: 15px;
    line-height: 25px;
}

.log {
    font-size: 16px;
    line-height: 45px;
    font-weight: 600;
}

.log.button {
    display: inline-block;
    text-decoration: none;
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 0px 36px 0px 36px;
    text-align: center;

}

.log.button-orange {
    display: inline-block;
    text-decoration: none;
    margin-left: 10px;
    background: #FF6336;
    border: 1px solid#FF6336;
    color: #FFFFFF;
    padding: 0px 26px 0px 26px;
}

.navigation-link {
    margin-right: 51px;
}

.nav-link {
    text-decoration: none;
    margin-right: 57px;
}

.small-box {
    padding-bottom: 172px;
    display: flex;
    align-items: stretch;
}


.tittle {
    font-weight: 600;
    font-size: 65px;
    line-height: 70px;
    margin-bottom: 51px;
    margin-top: 129px;
    max-width: 550px;
}

.subtitle {
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 51px;
    max-width: 470px;
}

.log.button.two,
.log.button-orange.two {
    display: inline-block;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-bottom: 25px;
    margin-left: 10px;
}

.log.button-orange.two:first-child {
    margin-left: 0;
}

.pic1 {
    max-width: 760px;
    max-height: 530px;
    margin-top: 151px;
}

.brand, .try {
    background: #FF9C7D;
}

.brand {
    padding-top: 108px;
    padding-bottom: 104px;
}

.tittle-two, .tittle-left, .tittle-right, .tittle-center {
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
}

.tittle-two {
    text-align: center;
    max-width: 720px;
    margin-bottom: 70px;
    margin-right: auto;
    margin-left: auto;
}

.brands {
    justify-content: center;
}

.brands-list {
    margin-right: 103px;
}

.brands-list:last-child {
    margin-right: 0;
}

.text-left {
    padding-top: 250px;
    padding-bottom: 250px;
}

.text-left:first-child {
    padding-top: 90px;
}

.text-left, .text-right {
    display: flex;
    justify-content: space-between;
}

.notes-indent {
    padding-top: 150px;
}

.notes-indent-two {
    padding-top: 90px;
}

.tittle-left, .tittle-right, .subtitle-right {
    max-width: 493px;
}

.tittle-left, .tittle-right {
    margin-bottom: 30px;
}

.subtitle-left, .link, .subtitle-right, .boost-lead, .link-Learn, .subtitle-center, .lead-desc {
    font-size: 20px;
    line-height: 30px;
}

.subtitle-left, .link, .subtitle-right {
    margin-bottom: 30px;
    max-width: 520px;
}


.link {
    font-weight: 600;
    text-decoration: none;
}

.image {
    align-content: stretch;
}

.statistics_img {
    max-width: 632px;
}

.text-right {
    flex-direction: row-reverse;
}

.tittle-right {
    padding-top: 150px;
}


.icon {
    background: #FFF8E4;
    margin-top: 150px;
    padding-bottom: 147px;
    margin-bottom: 154px;
}

.tittle-center {
    max-width: 890px;
    padding-top: 120px;
    margin-right: auto;
    margin-left: auto;
}

.desc {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.info {
    text-align: center;
    margin-right: 100px;
}

.headline {
    font-weight: 600;
    font-size: 25px;
    line-height: 35px;
    max-width: 230px;
    margin-bottom: 20px;
    margin-left: 43px;
}

.lead {
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    max-width: 330px;
}

.icon-img {
    margin-top: 79px;
    margin-bottom: 26px;
}

.info:last-child,
.info:nth-child(3n),
.boost-info:last-child {
    margin-right: 0;
}

.tittle-big {
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    margin-right: auto;
    margin-left: auto;
}

.boost {
    margin-bottom: 180px;
}

.boost-desc {
    display: flex;
    align-items: flex-start;
}

.boost-info {
    margin-right: 31px;
}

.boost-images {
    display: flex;
    flex-wrap: nowrap;
}


.boost-img_1 {
    margin-top: 75px;
    margin-bottom: 49px;
    margin-right: 295px;
}
.boost-img_2 {
    margin-top: 92px;
    margin-bottom: 67px;
    margin-right: 261px;
}

.boost-img_3 {
    margin-top: 84px;
    margin-bottom: 58px;
}

.caption, .excerpt {
    font-size: 30px;
    line-height: 40px;
}

.caption {
    font-weight: 600;
    max-width: 168px;
    margin-bottom: 34px;
}

.boost-lead {
    max-width: 407px;
    margin-bottom: 26px;
}

.revolut {
    background: #C9E8F2;
}

.revolut-sub {
    display: flex;
    align-items: stretch;
    padding-bottom: 105px;
}

.excerpt {
    max-width: 895px;
    padding-bottom: 23px;
}

.revolut-text {
    padding-top: 63px;
    margin-right: 85px;
}

.edward-img {
    max-width: 310px;
    padding-top: 53px;
}

.tagline {
    background: #DABC98;
    padding-top: 80px;
    padding-bottom: 84px;
}

.tagline-tittle {
    font-weight: 600;
    font-size: 35px;
    line-height: 50px;
    max-width: 470px;
    margin-right: 124px;
    margin-left: 67px;
}

.stars_img {
    padding-left: 70px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.stars_img:first-child {
    border-left: 1px solid #000;
}

.big-box, .try-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.work-tools {
    padding-top: 165px;
    padding-bottom: 162px;
}

.heading {
    font-weight: 600;
    font-size: 65px;
    line-height: 75px;
    max-width: 790px;
}

.slogan {
    font-size: 25px;
    line-height: 30px;
    max-width: 539px;
    padding-bottom: 25px;
}

.bird {
    margin-bottom: 32px;
}

.try {
    padding-top: 119px;
    padding-bottom: 160px;
}

.subtitle-center {
    padding-top: 29px;
    padding-bottom: 54px;
}

.bth-black {
    display: inline-block;
    background: #000000;
    color: #FFFFFF;
    padding: 0px 40px;
    text-decoration: none;
    font-weight: 600;
    font-size: 17px;
    line-height: 60px;
}

.footer {
    background: #EEEEEE;
}

.menu {
    padding-top: 92px;
    padding-bottom: 95px;
    display: flex;
}

.studies {
    display: flex;
    flex-direction: column;
    margin-right: 140px;
}

.caption-studies {
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 28px;
    max-width: 257px;
}

.menu-img {
    max-width: 80px;
    margin-top: 35px;
    margin-bottom: 11px;
}
.lead-desc {
    max-width: 290px;
    margin-bottom: 15px;
}

.footer-nav {
    display: flex;}

.footer-caption {
    margin-right: 30px;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    padding-top: 10px;
 
}

.wrap {
    margin-top: 21px;
    width: 200px;
}

.footer-item {
    padding-bottom: 10px;
}

.footer-link {
    text-decoration: none;
    font-weight: normal;
}

.copyright {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #000;
    padding-top: 47px;
    padding-bottom: 43px;
}

.copy {
    display: flex;
}

.copy-img {
    margin-right: 14px;
    height: 21px;
}

.copy-text {
    font-size: 12px;
    line-height: 15px;
    margin-right: 75px;
    max-width: 300px;
}